beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
dataclasses-json==0.5.2
idna==2.10
marshmallow==3.10.0
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
stringcase==1.2.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.4
